* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
  text-decoration: none;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

body {
  margin: 0;
}

#root {
  background-color: #f5f6f8;
}

/* .row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row > button {
  margin-left: 4px;
  margin-right: 8px;
}
.row:not(:last-child) {
  margin-bottom: 16px;
} */

.value {
  font-size: 78px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 2px;
  font-family: "Courier New", Courier, monospace;
}

.button {
  appearance: none;
  background: none;
  font-size: 32px;
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
  border: 2px solid transparent;
  color: rgb(112, 76, 182);
  padding-bottom: 4px;
  cursor: pointer;
  background-color: rgba(112, 76, 182, 0.1);
  border-radius: 2px;
  transition: all 0.15s;
}

.textbox {
  font-size: 32px;
  padding: 2px;
  width: 64px;
  text-align: center;
  margin-right: 4px;
}

.button:hover,
.button:focus {
  border: 2px solid rgba(112, 76, 182, 0.4);
}

.button:active {
  background-color: rgba(112, 76, 182, 0.2);
}

.container.splash {
  background-color: #6813cc;
  height: 100vh;
  width: 100vw;
}

.splash .imageContainer {
  margin: auto;
  width: 200px;
}

.splash img {
  width: 200px;
}

.heroBanner {
  /* background-color: #6813cc; */
  background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  border-bottom: 100px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.logo {
  width: 150px;
  height: auto;
  margin: 10px;
}

img {
  border-radius: 10px;
}

.navContainer {
  display: flex;
  justify-content: center;
}

.navContainer > * {
  margin-top: 20px;
  margin-right: 10px; /* Adjust the value as needed */
}

/* .searchResults {
  background-color: #6a11cb;
} */

/* .searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 100%;
} */

#search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 5px;
  width: calc(100% - 40px);
  margin-left: 20px;
  margin-right: 20px;
}

.searchResults {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.searchResultCard {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  height: 500px;
}

.practitionerAbout {
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Display ellipsis (...) when text overflows */
  max-height: 3em;
  /* white-space: nowrap; */
}

.searchResultCard img {
  max-width: 128px;
}

.practitionerDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 15px;
}

.practitionerDetails img {
  margin-bottom: 10px;
  max-width: 300px;
}

.practitionerQualifications {
  list-style-type: disc;
}

.patientDashboardContainer,
.practitionerDashboardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 400px; */
}

.patientDashboardText,
.practitionerDashboardText {
}

.favouriteCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  /* margin-left: 20px; */
  /* margin-right: 20px; */
  padding: 15px;
  max-width: 80%;
}
.favouriteCardContainer img {
  margin-bottom: 5px;
  height: 150px;
  width: auto;
}

.favourite-button {
}

@media screen and (max-width: 500px) {
  .searchResults {
    flex-direction: column;
  }
}
