* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
  text-decoration: none;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* body {
  margin: 0;
} */

#root {
  background-color: #f5f6f8;
}

/* .row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row > button {
  margin-left: 4px;
  margin-right: 8px;
}
.row:not(:last-child) {
  margin-bottom: 16px;
} */

.value {
  font-size: 78px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 2px;
  font-family: "Courier New", Courier, monospace;
}

.button {
  appearance: none;
  background: none;
  font-size: 32px;
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
  border: 2px solid transparent;
  color: rgb(112, 76, 182);
  padding-bottom: 4px;
  cursor: pointer;
  background-color: rgba(112, 76, 182, 0.1);
  border-radius: 2px;
  transition: all 0.15s;
}

.textbox {
  font-size: 32px;
  padding: 2px;
  width: 64px;
  text-align: center;
  margin-right: 4px;
}

.button:hover,
.button:focus {
  border: 2px solid rgba(112, 76, 182, 0.4);
}

.button:active {
  background-color: rgba(112, 76, 182, 0.2);
}

.container.splash {
  background-color: #6813cc;
  height: 100vh;
  width: 100vw;
}

.splash .imageContainer {
  margin: auto;
  width: 200px;
}

.splash img {
  width: 200px;
}

.heroBanner {
  /* background-color: #6813cc; */
  background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  /* border-bottom: 120px; */
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.logo {
  width: 150px;
  height: auto;
  margin: 10px;
}

img {
  border-radius: 10px;
}

.subHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-wrap: wrap;
  /* margin-bottom: 20px; */
}

/* .searchResults {
  background-color: #6a11cb;
} */

/* search bar */

/* .searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 100%;
} */

/* #search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 5px;
  width: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
} */
.searchBar {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto 20px;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.searchBar input[type="text"] {
  flex: 1;
  border: none;
  padding: 12px;
  border-radius: 25px;
  outline: none;
}

.searchIcon {
  margin: 0 10px;
  color: #555;
}
*/ .searchBar input[type="text"]::placeholder {
  color: #999;
}

.searchBar input[type="text"]:focus::placeholder {
  color: transparent;
}
/* searchBar end */

/* nav */
/* .navContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.navContainer a {
  color: #4546e5;
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
  transition: color 0.3s ease;
}

.navContainer a:hover {
  color: #fff;
} */
.navContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 10px; */
}

.navContainer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navContainer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
  transition: color 0.3s ease;
}

.navContainer a:hover {
  transform: translateY(-1px); /* Apply transform on hover */
}
/* nav end */

.searchResults {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.searchResultCard {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  height: 500px;
}

.practitionerAbout {
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Display ellipsis (...) when text overflows */
  max-height: 3em;
  /* white-space: nowrap; */
}

.searchResultCard img {
  max-width: 128px;
}

.practitionerDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 15px;
}

.practitionerDetails img {
  margin-bottom: 10px;
  max-width: 300px;
}

.practitionerQualifications {
  list-style-type: disc;
}

.patientDashboardContainer,
.practitionerDashboardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 400px; */
}

.patientDashboardText,
.practitionerDashboardText {
}

.favouriteCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  /* margin-left: 20px; */
  /* margin-right: 20px; */
  padding: 15px;
  max-width: 80%;
}
.favouriteCardContainer img {
  margin-bottom: 5px;
  height: 150px;
  width: auto;
}

.favouriteButtonClass {
  color: red;
}

/* Login  */

.loginContainer {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-top: 30px;
  margin-bottom: 30px;
}

.loginContainer h2 {
  text-align: center;
  margin-bottom: 20px;
}

.loginContainer input[type="email"],
.loginContainer input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.loginContainer input[type="email"]:focus,
.loginContainer input[type="password"]:focus {
  outline: none;
  border-color: #4546e5;
}

.loginButtonContainer {
  text-align: center;
}

.loginButtonContainer .mainButton {
  width: 100%;
}

.signUpContainer {
  text-align: center;
  margin-top: 20px;
  background-color: red;
  color: white;
  padding: 20px;
}

.signUpContainer h3 {
  margin-bottom: 10px;
}

/* Login end */
/* 
.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
} */

.emailContainer {
  margin-bottom: 20px;
}

.passwordContainer input::placeholder {
  padding: 5px;
}
.emailContainer input::placeholder {
  padding: 5px;
}

.sendMessageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.sendMessageContainer textarea {
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  resize: vertical;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
}

textarea:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
}

/* Sign up form */

/* .signUpFormHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUpContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin-top: 20px;
  background-color: red;
  color: white;
}

.signupForm {
  max-width: 400px;
  margin: 0 auto 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.signupForm label {
  margin-bottom: 8px;
  display: block;
  font-weight: bold;
}

.signupForm input[type="text"],
.signupForm input[type="email"],
.signupForm input[type="password"],
.signupForm select,
.signupForm textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.signupForm input[type="file"] {
  margin-top: 5px;
}

.signupForm input[type="submit"] {
  background-color: #4caf;
} */

/* signup form end */

/* CSS for SignUp Component */

/* Header Section */
.signUpFormHeader {
  text-align: center;
  margin-bottom: 20px;
}

.signUpFormHeader h2 {
  font-size: 28px;
  color: #333;
}

.signUpFormHeader p {
  font-size: 16px;
  color: #666;
}

/* Form Section */
.signupForm {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.userTypeSelection {
  margin-bottom: 20px;
}

.userTypeSelection label {
  margin-right: 20px;
  font-size: 18px;
  color: #333;
}

.userTypeSelection input[type="radio"] {
  margin-right: 5px;
}

/* Form Sections */
.formSection {
  margin-bottom: 20px;
}

/* Input Fields */
.signupForm label {
  margin-bottom: 8px;
  display: block;
  font-weight: bold;
}

.signupForm input[type="text"],
.signupForm input[type="email"],
.signupForm input[type="password"],
.signupForm select,
.signupForm textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.signupForm input[type="file"] {
  margin-top: 5px;
}

.signupForm input[type="submit"] {
  background-color: #4caf;
}

/* patient dashboard */
.patientDashboardContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.patientDashboardCard {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.patientDashboardCard h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.patientDashboardCard p {
  font-size: 16px;
  margin-bottom: 10px;
}

.patientDashboardCard ul {
  list-style-type: none;
  padding: 0;
}

.patientDashboardCard ul li {
  margin-bottom: 5px;
}

.MainButton {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
  margin-top: 5px;
}

.MainButton:hover {
  background-color: #45a049;
}

/* patient dash end */

/* practitioner dash */
.practitionerDashboardContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.practitionerDashboardCard {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.practitionerDashboardCard h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.practitionerDashboardCard p {
  font-size: 16px;
  margin-bottom: 10px;
}

.practitionerDashMessages {
  margin-top: 20px;
}

.practitionerDashMessages h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.practitionerDashMessages ul {
  list-style-type: none;
  padding: 0;
}

.practitionerDashMessages ul li {
  margin-bottom: 5px;
}

.MessageInput {
  margin-top: 20px;
}

.MainButton {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.MainButton:hover {
  background-color: #45a049;
}

/* practitioner dash end*/

/* practitioner searchResults */

.searchResultCard {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease;
}

.searchResultCard:hover {
  transform: translateY(-5px);
}

.searchResultCard h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.searchResultCard img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.searchResultCard p {
  font-size: 16px;
  margin-bottom: 5px;
}

.practitionerAbout {
  text-align: center;
  margin-bottom: 15px;
}

.stars {
  color: gold;
}

.searchResultCard a {
  display: inline-block;
  text-decoration: none;
  color: #4546e5;
  font-weight: bold;
  border: 2px solid #4546e5;
  padding: 8px 16px;
  border-radius: 5px;
  transition: color 0.3s ease, border-color 0.3s ease;
}

.searchResultCard a:hover {
  color: #fff;
  background-color: #4546e5;
}

/* practitioner searchResults end*/

@media screen and (max-width: 500px) {
  .searchResults {
    flex-direction: column;
  }
}
